$bg_color: #fafafa;
$font_color: #262626;
$line_color: #dbdbdb;
$subline_color: #efefef;
$subfont_color: #999999;

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0;
  color: $font_color;
  font-size: 1.7rem;

  a {
    color: $font_color;
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #ed4956;
  font-size: 1.4rem;
}

header {
  width: 100%;
  height: 7.7rem;
  background-color: #fff;
  border-bottom: 1px solid $line_color;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header_container {
  width: 95rem;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  // display: -webkit-box;
	// display: -ms-flexbox;
  align-items: center;
  // -webkit-box-align: center;
	// -ms-flex-align: center;
}

.header_a_container {
  display: flex;
  // display: -webkit-box;
	// display: -ms-flexbox;
  justify-content: space-around;
  // -ms-flex-pack: distribute;
  align-items: flex-start;
  // -webkit-box-align: start;
	// -ms-flex-align: start;
}

.header_icon {
  padding-right: 1.5rem;
}

.header_icon_img {
  font-size: 2.7rem;
}

.header_title_logo {
  margin-right: 22rem;
}

.header_title {
  padding-left: 1.5rem;
}

.header_logo {
  width: 10rem;
}

.vertical_line {
  width: 1px;
  height: 2.8rem;
  background-color: #929292;
}

.header_new {

  a {
    width: 20rem;
    padding: 0.3rem 1.5rem;
    color: $subfont_color;
    font-size: 1.3rem;
    display: inline-block;
    background-color: $bg_color;
    border-radius: 0.3rem;
    border: 1px solid $line_color;
    cursor: pointer;
    text-align: center;
    box-shadow: 0.4rem 0.4rem 0.5rem #dedede;
  }

  &:hover {
    text-decoration: none;
  }

  a:active {
    margin-top: 0.9rem;
    box-shadow: none;
  }
}

.header_user {
  margin-left: 27rem;
}

.header_user_icon {
  font-size: 2.5rem;
}

.container, .signin, .signup, .confirm {
  min-height: 100vh;
  background-color: $bg_color;
}

.general_container {
  padding: 13rem 0;
}

input[type="submit"] {
  border-radius: 0.3rem;

  &:hover {
    cursor: pointer;
  }
}

.emphasis {
  font-size: 1.3rem;
  font-weight: bold;
}

.user_icon {
  border-radius: 50%;
}

.btn_submit {
  margin-left: auto;
  padding: 0.4rem 1rem;
  color: #fff;
  background-color: #3597ed;
  font-size: 1.4rem;
  font-weight: bold;
  border-style: none;
}

input:focus {
  border: 1px solid $subfont_color;
  outline: 0;
}

#error_explanation {
  margin: 1rem;
  color: #ed4956;
  font-size: 1.4rem;
}

// 確認画面

.confirm_container {
  width: 50rem;
  margin: 0 auto;
  padding-top: 5rem;
  font-size: 1.3rem;

  h3 {
    font-size: 1.5rem;
  }
}

.confirm_button {
  margin: 2rem;
}
